{% extends 'base.html.twig' %}

{% block title %}Edit "{{ store_branch_location.name }}"{% endblock %}

{% block breadcrambs %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('store_branch_location_index') }}">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Edit "{{ store_branch_location.name }}"</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-two-fifths">
            {{ include('store_branch_location/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="column">
            {{ include('store_branch_location/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
